export(covariance)
export(cv)
export(iqrange)
import("Hmisc,")
import("car,")
import("e1071,")
import("ez,")
import("ggplot2,")
import("plyr,")
import(Hmisc)
import(R2HTML)
import(car)
import(e1071)
import(ez)
import(ggplot2)
import(plyr)
import(psy)
