/tmp/
/rkteaching_matematicas_everywhere.pdf
/rkteaching_matematicas_everywhere.synctex.gz
/rkteaching_matematicas_everywher.synctex.gz
/rkteaching_matematicas_everywhere.aux
/rkteaching_matematicas_everywhere.log
/rkteaching_matematicas_everywhere.out
